.home{
    background-color: bisque;
}
.dogs{
    display: inline-block;
    color: #000000;
    background-color: #d4d3d3;
    border-radius: 15px;  
    width: 300px;  
    height: 450px;
    margin-inline: 8px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.dogs img {
    height: 280px;
    width: 300px;
    object-fit: fill;
}
.pageNumbers{
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.8rem;
}
.pageNumbers li {
    padding: 10px;
    border: 1px solid #fffc62;
    cursor: pointer;    
}
.pageNumbers li.active {
    background-color: rgb(8, 255, 82);
    color: rgb(214, 0, 0);
}
.pageNumbers li.button {
    background-color: #f5ff62;
    color: rgb(126, 126, 126);
    border: none;
    font-size:1.5rem;
    cursor: pointer;
}
.pageNumbers li.button:hover {
    background-color:#000000;
    color:#ffffff;
}
.loadmore {
    padding: 0.8rem;
    background-color:transparent;
    color:#300050;
    font-size: 1rem;
    border: 1px solid #000000;
    cursor: pointer;   
    margin-right: 0.5rem;

}