.navbar{
    background-color: aquamarine;
    height: 100px;
    display: flex;
    height: 100px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}
.listItem{
    
    margin: 0;
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
}

.routes{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}
.dogs{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}
.createDogs{
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}

.logoImg {
    width: 100px;
}